<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>CONFIGURATIONS</comment>
<entry key="debug">true</entry>
<entry key="delete_alert">false</entry>
<entry key="shortcuts">97,NEXT;98,NEXT;68,MOVE,D:\;37,PREVIOUS;39,NEXT;80,MOVE,D:\;112,INFO;84,MOVE,D:\Downloads;116,REFRESH;89,NEXT;127,DELETE</entry>
<entry key="hidden_folders">false</entry>
</properties>
