<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>CONFIGURATIONS</comment>
<entry key="debug">true</entry>
<entry key="delete_alert">false</entry>
<entry key="shortcuts">80,MOVE,D:\;112,INFO;97,NEXT;98,NEXT;84,MOVE,D:\Downloads;68,MOVE,D:\;116,REFRESH;37,PREVIOUS;39,NEXT;89,NEXT;127,DELETE</entry>
<entry key="hidden_folders">false</entry>
</properties>
